:root {
  --color1: #f7e42d;
  --color2: #84a9f9;
  --color3: #c520f7;
  --color4: #f74420;
  --color5: #f9ec77;
  --color6: #eee;
  --color7: #333;
}

body {
  margin: 0;
  background-color: var(--color2);
  font-family: "Courier New", Courier, monospace;
  font-size: 2vmax;
  display: grid;
  grid-template-columns: minmax(50px, 350px) auto;
}

.flexbox {
  display: flex;
  justify-content: center;
}

/* Navigation */
.nav {
  flex-direction: column;
  background-color: var(--color5);
  padding: 0 3vh;
  font-size: 1.5rem;
  justify-content: flex-start;
}
#settings {
  flex-direction: column;
  gap: 1.6vmin;
}
#title {
  padding: 1vh 0;
  text-decoration: underline;
}
#settings > label {
  margin-top: 2vh;
  border-top: 5px dotted var(--color2);
  font-weight: 700;
}
#settings input[type="text"] {
  height: 3vh; max-width:35vh;
  border: none;
}
.pNamesWrapper{
  flex-direction: column;
  gap:0.5vh;
}
.selectTagsWrapper select{
    width:clamp(100px, 10vw, 12vw); 
    height:3vh;
    
    border:none;
    font-size: max(1.2rem,0.5vw);
    text-align: center;
    margin:0 1vw;
}
.navBtns {
  justify-content: space-evenly;
}
.navBtns button {
  font-size: 1.5rem;
  padding: 0.7vw 0.7vw;
  border: none;
  box-shadow: 1px 2px 5px var(--color7);
}
.startBtn {
  color: var(--color7);
  background-color: var(--color2);
  font-weight: 600;
}
.resetBtn {
  color: var(--color5);
  background-color: var(--color7);
  color: var(--color5);
}
#navOnOff, #navOnOffBtn{
  display:none;
}
#settings button:active {
  transform: scale(0.9);
}
#settings button,
.about a {
  cursor: pointer;
}
.radios {
  gap: 1vw;
  padding: 0;
  flex-direction: column;
}
.radioWrapper {
  align-items: center;
  gap: 1.5vw;
  justify-content: flex-start;
  margin-left: 2vw;
}
.compDifficulty{display:none;}
.about {
  text-align: right;
}
.about a {
  color:var(--color7);
  margin: 0 -3vh;
  font-weight: bold;
  text-decoration: underline;
  background-color: var(--color2);
  padding:0.5vw;
}

/* Board */
.boardWrapper {
  align-items: center;
  flex-direction: column;
  gap: 3vh;
}

.turn {
  color: var(--color7);
  font-weight: bolder;
  text-align: center;
}
.turns{display:none;}
/* .boardWrapper{width:100vw;} */
#board {
  padding: 1vh;
  /* background-color: var(--color1); */
  align-items: center;
  flex-direction: column;
  border-radius: 10%;
  flex-grow: 0;
}
.row {
}
.circle {
  padding: 2vw;
  margin: 1vmax;
  border-radius: 50%;
  background-color: white;
  box-shadow: 1px 1px 5px var(--color7);
}

.turn {
  width: 25vw;
  background-color: #f9ec77;
  box-shadow: 0px 0px 5px white;
  border-radius: 1vw;
}
.turn p {
  margin: 2vh;
}

.credit {
    position:absolute;
    bottom:10px; right:0px; font-size: 1rem;
    width:30vw;display: none;
    padding:0;margin:0;
}
.credit a{
    text-decoration: none;
    color:var(--color6);
}

/*For large screens, the nav shold be larger.*/
@media screen and (min-width:1300px) {
  .nav{
    width:35vh;
  }
  #settings{
    font-size: 2rem;
  }
}
/* For vw < 1000px, nav bar goes to top: */
@media screen and (max-width:1000px) {
  body{
    grid-template-rows: 5fr 1fr;
    grid-template-columns: 1fr;
  }
  .nav{
    position:absolute;
    bottom:0;
    width:100%;
    margin:0;
    padding:0;
  }
  #title{
    margin-left: 5vw;
  }
  #settings{
    display:grid;
    grid-template-rows: 5vh 5vh 5vh 5vh 5vh;
    grid-auto-flow: column;
    grid-row: 10vh;
    column-gap: 10vh;
  }
  .navBtns{
    grid-row: 1/3;
    padding:0;
  }
  #settings{
    padding-bottom: 2vh;
  }
  #settings button{
    height:5vh;
  }
  #settings label{
    border:none;
    margin: 0;
  }
  #settings input[type="text"] {
    height: 3vh; width:30vw;
    border: none;
  }
  .pNamesWrapper{
    padding:0;
    grid-row: 4/6;
  }
  .about{
    position: absolute;
    right:5vw; top:3vh;
  }
  #navOnOff{
    display:block;
    position:absolute;
    right:5vw; top:7.5vh;
    color:var(--color5);
    font-weight: bold;
    background-color: var(--color7);
    padding:0.5vw;
    cursor: pointer;
    text-align: right;
  }
  #navOnOffBtn:checked + .nav > #settings{
    display:none;
  }
  #navOnOffBtn:checked ~ .nav{
    height: 15vh;
  }
  .credit {
    bottom:20vh;
  }
}